// 全局自定义样式 例子：background：$bg-primary
$color-primary: var(--el-color-primary); // 主题色

// 字体颜色
$text-primary: #333333; // 主题字体颜色
$text-white: #ffffff; // 主题字体颜色

// 背景颜色
$bg-primary: #f5f5f5; // 主背景色
$bg-panel: #ffffff; // 面板背景

$nav-height: 55px; // 导航高度

// 颜色
$c-success: #67c23a;
$c-danger: #f56c6c;
